{% extends 'base.html' %}

{% block title %} {{ book.title }} {% endblock %}

{% block content %}
<a href="/" class="nav-link"> ⬅️ back</a>
<h1>Details about {{ book.title }}</h1>
<hr>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/{{ book.image }}" class="card-img-top" alt="Book Cover Image">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">{{ book.author }}</p>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <h3>Book Reviews</h3>
        {% for review in reviews %}
        <p>{{ review.text }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
